{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-sm-2">
        <h3>HUB:</h3>
        <select data-live-search="true" class="selectpicker" id="hub-select">
                <option value="-1">nombre hub</option>
            {% for item in data.cmts %}   
                <option value="{{item}}">{{item}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-3">
        <h3>CMTS:</h3>  
        <div id="cmts-selector">
        </div>
    </div>
    <div class="col-sm-3">
        <h3>PRISMA:</h3>
        <div id="prisma-selector">
        </div>
    </div>
    <div class="col-sm-3">
        <h3>FIBER NODES:</h3>
        <div id="fn-selector">
        </div>
    </div>
    <div class="col-sm-1">
        <h3>ACCIONESSSS</h3>
        <button type="button" class="btn btn-dark" id="save-relationship">Guardar</button>
    </div>
</div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        jQuery('#save-relationship').click(function(){
            alert('eeeeeeeeee');
            var cmtsName    = jQuery(this).val();
            if(cmtsName != ''){
                jQuery.ajax({
                    type:'POST',
                    url:'filter_type',
                    data:JSON.stringify({'cmts_name':cmtsName}),
                    contentType: 'application/json;charset=UTF-8',
                    success:function(responseHtml){
                        console.log(responseHtml)
                        jQuery('#type-selector').html(responseHtml);
                        jQuery('#type-select').attr( "data-live-search", "true");
                        jQuery('#type-select').selectpicker();
                    }
                }); 
            }
        });
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}