<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
    <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
    <script type="text/javascript">
    jQuery( document ).ready(function() {
        //jQuery('#prisma-selector').toggle();
        //jQuery('#fn-selector').toggle();    
    });
    jQuery('#hub-select').on('change',function(){
        var hubName = jQuery(this).val();
        if(hubName != ''){
            jQuery.ajax({
                type:'POST',
                url:'filter_cmts',
                data:JSON.stringify({'hub_name':hubName}),
                contentType: 'application/json;charset=UTF-8',
                success:function(responseHtml){
                    jQuery('#cmts-selector').html(responseHtml);
                    jQuery('#cmts-select').attr( "data-live-search", "true");
                    jQuery('#cmts-select').selectpicker();
                }
            }); 
        }
    });
    jQuery('#save-relationship').click(function(){
            var cmtsId    = jQuery('#interface-select').val();
            var prismaId  = jQuery('#prisma-select').val();
            if(cmtsName != ''){
                jQuery.ajax({
                    type:'POST',
                    url:'filter_type',
                    data:JSON.stringify({'cmts_name':cmtsName}),
                    contentType: 'application/json;charset=UTF-8',
                    success:function(responseHtml){
                        console.log(responseHtml)
                        jQuery('#type-selector').html(responseHtml);
                        jQuery('#type-select').attr( "data-live-search", "true");
                        jQuery('#type-select').selectpicker();
                    }
                }); 
            }
        });
    </script>
  </body>
</html>
