<select id="cmts-select">
        <option value="-1">nombre cmts</option>
    {% for item in data %}   
        <option value="{{item.description}}">{{item.description}}</option>
    {% endfor %}
</select>
<div id="type-selector">    
</div>


{% block javascript %}
    <script type="text/javascript">
        jQuery('#cmts-select').on('change',function(){
        var cmtsName    = jQuery(this).val();
        if(cmtsName != ''){
            jQuery.ajax({
                type:'POST',
                url:'filter_type',
                data:JSON.stringify({'cmts_name':cmtsName}),
                contentType: 'application/json;charset=UTF-8',
                success:function(responseHtml){
                    console.log(responseHtml)
                    jQuery('#type-selector').html(responseHtml);
                    jQuery('#type-select').attr( "data-live-search", "true");
                    jQuery('#type-select').selectpicker();
                }
            }); 
        }else{
            $('#city').html('<option value="">Select state first</option>'); 
        }
    });
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}