<select id="prisma-select">
        <option value="-1">prisma</option>
        {% for item in data %}   
            <option value="{{item.prisma_id}}">{{item.prisma_desc}}</option>
        {% endfor %}
</select>