<select id="interface-select">
    <option value="-1">interface</option>
    {% for type in data %} 
        <option value="{{type.cmts_id}}">{{type.interface}}</option>
    {% endfor %}
</select>    

{% block javascript %}
    <script type="text/javascript">
        jQuery('#interface-select').on('change',function(){
        var cmtsName        = jQuery('#cmts-select').val();
        var hubName         = jQuery('#hub-select').val();
        var typeInterface   = jQuery('#type-select').val(); 
        var type            = jQuery(this).val();
        if(type != ''){
            jQuery.ajax({
                type:'POST',
                url:'filter_fibernodes',
                data:JSON.stringify({'cmts_name':cmtsName, 'type':type}),
                contentType: 'application/json;charset=UTF-8',
                success:function(responseHtml){
                    jQuery('#fn-selector').html(responseHtml);
                    jQuery('#fn-select').attr("data-live-search", "true");
                    jQuery('#fn-select').selectpicker();
                }
            }); 
            jQuery.ajax({
                type:'POST',
                url:'filter_prisma',
                data:JSON.stringify({'hub_name':hubName, 'type_interface':typeInterface}),
                contentType: 'application/json;charset=UTF-8',
                success:function(responseHtml){
                    jQuery('#prisma-selector').html(responseHtml);
                    jQuery('#prisma-select').attr("data-live-search", "true");
                    jQuery('#prisma-select').selectpicker();
                }
            }); 
        }
    });
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}