<select id="type-select">
        <option value="-1">tipo de interface</option>
    {% for type in data %} 
        <option value="{{type.type}}">{{type.type}}</option>
    {% endfor %}
</select>
<div id="interface-selector">
</div>

{% block javascript %}
    <script type="text/javascript">
        jQuery('#type-select').on('change',function(){
            var cmtsName    = jQuery('#cmts-select').val();
            var type        = jQuery(this).val();
            if(type != ''){
                jQuery.ajax({
                    type:'POST',
                    url:'filter_interface',
                    data:JSON.stringify({'cmts_name':cmtsName, 'type':type}),
                    contentType: 'application/json;charset=UTF-8',
                    success:function(responseHtml){
                        jQuery('#interface-selector').html(responseHtml);
                        jQuery('#interface-select').attr( "data-live-search", "true");
                        jQuery('#interface-select').selectpicker();
                    }
                }); 
            }
        });
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}